@forward "tailwindcss";
@forward "./material-styles.scss";

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: Georgia, "Times New Roman", Times, serif;
}
