@use "@angular/material" as mat;
@use "_theme-colors" as theme-colors;

@forward "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;700&display=swap");
html {
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
        theme-type: light,
      ),
      typography: (
        plain-family: Raleway,
        brand-family: Poppins,
      ),
      density: 0,
    )
  );
  //@include theme-colors.high-contrast-overrides(light);
}

body {
  background-color: var(--mat-sys-surface);
}

@include mat.toolbar-overrides(
  (
    container-background-color: var(--mat-sys-secondary-container),
    container-text-color: var(--mat-sys-secondary),
  )
);
