<div class="container mx-auto px-4 py-8 max-w-4xl">
  <h1 class="text-3xl font-bold text-green-800 mb-6">
    {{ "imprint.title" | translate }}
  </h1>

  <h2 class="text-2xl font-bold text-green-800 mb-2">
    {{ "imprint.contact" | translate }}
  </h2>
  <p
    class="text-lg leading-relaxed text-gray-700 dark:text-gray-100 whitespace-pre-line"
  >
    Email: doris.pfennig&#64;t-online.de, boecker.julius&#64;gmail.com
    <br />
    {{ "imprint.hostedOn" | translate }} Github Pages -
    <a
      class="text-green-800 underline"
      href="https://github.com/j-boecker/sansevieria-app"
      target="_blank"
      >Github repository</a
    >
  </p>
</div>
