<mat-toolbar class="sticky top-0 z-10 shadow-md">
  <span class="hidden md:inline">{{ "title" | translate }}</span>
  <a mat-button color="accent" routerLink="/plants" routerLinkActive="active">{{
    "nav.sansevieria" | translate
  }}</a>
  <a mat-button color="accent" routerLink="/about">{{
    "nav.about" | translate
  }}</a>
  <a mat-button color="accent" routerLink="/maintainer">{{
    "nav.maintainer" | translate
  }}</a>
  <a mat-button color="accent" routerLink="/imprint">{{
    "nav.impressum" | translate
  }}</a>
  <a mat-button color="accent" routerLink="/disclaimer">{{
    "nav.disclaimer" | translate
  }}</a>
  <span class="spacer hidden sm:inline"></span>
  <button class="language-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setLanguage('de')">
      {{ "nav.german" | translate }}
    </button>
    <button mat-menu-item (click)="setLanguage('en')">
      {{ "nav.english" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
