.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  gap: 8px;
}
@media screen and (max-width: 639px) {
  mat-toolbar {
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.language-button {
  color: var(--mat-sys-secondary);
}
