<div class="container mx-auto p-4">
  @if (plant$ | async; as plant) {
    <div class="flex items-center my-4 mb-8">
      <a mat-icon-button class="icon-button mr-3" [routerLink]="['/plants']">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1 class="text-3xl">{{ plant.name }}</h1>
    </div>

    <mat-card class="shadow-lg">
      <mat-card-header>
        <div mat-card-avatar class="text-center font-bold">
          {{ getPfennigNumber(plant.pfennigNumber) }}
        </div>
        <mat-card-title class="text-xl font-bold">{{
          plant.name
        }}</mat-card-title>
        <mat-card-subtitle class="italic">{{
          plant.nameGiver
        }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        @if (plant.imageUrl) {
          <img
            mat-card-image
            class="mx-auto p-4 w-1/2"
            [src]="plant.imageUrl"
            alt="Image of {{ plant.name }}"
          />
        } @else {
          <div class="mt-10 mb-5 text-center text-gray-500">
            <mat-icon>hide_source</mat-icon>
            <p class="py-2 italic text-gray-500">Nicht mehr vorhanden</p>
          </div>
        }
        <p class="text-gray-700">{{ plant.description }}</p>
        <div class="mt-4">
          <h3 class="text-lg font-semibold">Details</h3>
          <div class="grid grid-cols-2 gap-4">
            <div>
              <strong>Pfennig Number:</strong> {{ plant.pfennigNumber }}
            </div>
            <div><strong>Name Giver:</strong> {{ plant.nameGiver }}</div>
            <div>
              <strong>Discover Location:</strong> {{ plant.discoverLocation }}
            </div>
            <div>
              <strong>Discover Date:</strong> {{ plant.discoverDate | date }}
            </div>
            <div>
              <strong>Secondary Name:</strong> {{ plant.secondaryName }}
            </div>
            <div>
              <strong>Secondary Name Giver:</strong>
              {{ plant.secondaryNameGiver }}
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
