<div class="container mx-auto p-4">
  @if (plant$ | async; as plant) {
    <div class="flex items-center my-4 mb-8">
      <a mat-icon-button class="icon-button mr-3" [routerLink]="['/plants']">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1 class="text-3xl">{{ plant.name }}</h1>
    </div>

    <mat-card class="shadow-lg">
      <mat-card-header>
        <div mat-card-avatar class="text-center font-bold">
          {{ getPfennigNumber(plant.pfennigNumber) }}
        </div>
        <mat-card-title>
          <span>{{ plant.name }}</span>
          <span class="italic"> {{ plant.nameGiver }} </span></mat-card-title
        >
        <mat-card-subtitle>
          <span>{{ plant.secondaryName }}</span>
          <span class="italic">
            {{ plant.secondaryNameGiver }}
          </span></mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content>
        @if (plant.imageUrl) {
          <img
            mat-card-image
            class="mx-auto p-4 w-1/2"
            [src]="plant.imageUrl"
            alt="Image of {{ plant.name }}"
          />
        } @else {
          <div class="mt-10 mb-5 text-center text-gray-500">
            <mat-icon>hide_source</mat-icon>
            <p class="py-2 italic text-gray-500">
              {{ "plants.notAvailable" | translate }}
            </p>
          </div>
        }
        <p class="text-gray-700 dark:text-gray-100 text-center">
          {{ plant.description }}
        </p>
        <div class="mt-4">
          <div class="flex align-middle justify-center">
            <div>
              <strong
                >{{ plant.discoverLocation }},
                {{ plant.discoverDate | date: "yyyy" }}</strong
              >
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
