<div class="container mx-auto px-4 py-8 max-w-4xl">
  <h1 class="text-3xl font-bold text-green-800 mb-6">
    {{ "about.title" | translate }}
  </h1>

  <p
    class="text-lg italic leading-relaxed text-gray-700 dark:text-gray-100 whitespace-pre-line"
  >
    {{ "about.firstSection" | translate }}
  </p>

  <table class="mt-4 mb-10 text-gray-700 dark:text-gray-100">
    <tbody>
      <tr>
        <td>09. 05. – 31. 05. 1971</td>
        <td>Kenia</td>
        <td>Pf 1001 – Pf 1046</td>
      </tr>
      <tr>
        <td>12. 03. – 03. 04. 1972</td>
        <td>Kenia</td>
        <td>Pf 1047 – Pf 1086</td>
      </tr>
      <tr>
        <td>01. 04. – 21. 04. 1973</td>
        <td>Kenia</td>
        <td>Pf 1087 – Pf 1122</td>
      </tr>
      <tr>
        <td>18. 03. – 30. 03. 1974</td>
        <td>Kenia, Tansania</td>
        <td>Pf 1123 – Pf 1173</td>
      </tr>
      <tr>
        <td>31. 08. – 25. 09. 1975</td>
        <td>Kenia, Tansania, Uganda</td>
        <td>Pf 1174 – Pf 1226</td>
      </tr>
      <tr>
        <td>30. 08. – 14. 09. 1977</td>
        <td>Uganda</td>
        <td>Pf 1241 – Pf 1340</td>
      </tr>
      <tr>
        <td>25. 03. – 30. 03. 1978</td>
        <td>Kenia</td>
        <td>Pf 1341 – Pf 1361</td>
      </tr>
      <tr>
        <td>24. 10. – 09. 11. 1979</td>
        <td>Ruanda, Kenia</td>
        <td>Pf 1362 – Pf 1404</td>
      </tr>
      <tr>
        <td>24. 02. – 09. 03. 1981</td>
        <td>Ruanda, Kenia</td>
        <td>Pf 1405 – Pf 1442</td>
      </tr>
      <tr>
        <td>01. 06. – 14. 06. 1983</td>
        <td>Kenia</td>
        <td>Pf 1443 – Pf 1490</td>
      </tr>
      <tr>
        <td>23. 05. – 05. 06. 1984</td>
        <td>Kenia</td>
        <td>Pf 1491 – Pf 1561</td>
      </tr>
      <tr>
        <td>09. 06. – 23. 06. 1985</td>
        <td>Kenia</td>
        <td>Pf 1562 – Pf 1637</td>
      </tr>
      <tr>
        <td>20. 11. – 13. 12. 1985</td>
        <td>Kenia</td>
        <td>Pf 1638 – Pf 1671</td>
      </tr>
      <tr>
        <td>23. 08. – 11. 09. 1986</td>
        <td>Kenia</td>
        <td>Pf 1672 – Pf 1718</td>
      </tr>
      <tr>
        <td>20. 05. – 06. 06. 1988</td>
        <td>Kenia</td>
        <td>Pf 1719 – Pf 1743</td>
      </tr>
    </tbody>
  </table>

  <p
    class="text-lg italic leading-relaxed text-gray-700 dark:text-gray-100 whitespace-pre-line"
  >
    {{ "about.secondSection" | translate }}
  </p>
  <br />
  <br />
  <p
    class="text-lg italic leading-relaxed text-gray-700 dark:text-gray-100 text-center"
  >
    Doris Pfennig
  </p>
  <h2 class="text-2xl font-bold text-green-800 mb-6 mt-12">
    {{ "about.journeys" | translate }}
  </h2>
  <p
    class="text-lg italic leading-relaxed text-gray-700 dark:text-gray-100 whitespace-pre-line"
  >
    {{ "about.journeysText" | translate }}
  </p>
  <br />
  <a
    href="https://drive.google.com/open?id=19ZPw8-j6xi9Etq5BMr8Q4p94E-BWW4Nm&usp=sharing"
    target="_blank"
    >Pfennig. Kenia (09.-31.05.1971)</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1Kcql0nlDI_KoBe7Nzyqhyn1Zch0llvx2&usp=sharing"
    target="_blank"
    >Pfennig. Kenia. 12.03-03.04.1972</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1ZU7ovGEerDoWjy0EwI2QIpixZUNlXHat&usp=sharing"
    target="_blank"
    >Pfennig. Kenia (01.04.-21-04.1973)</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1E9slqHjuAWkhxRiC59mOSkHlANTi5W7S&usp=sharing"
    target="_blank"
    >Pfennig. Kenia/Tansania 18.3-30.03.1974</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1eCC0YaD5RHRZzDnBrwvlXfqEebi23RH1&usp=sharing"
    target="_blank"
    >Pfennig. Kenia/Tansania/Uganda 31.8-25.9.1975</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1Rs4FAyLsKvwC6U44f3V1FZl2klkmyzUK&usp=sharing"
    target="_blank"
    >Pfennig. Uganda/Kenia 30.08.-14.09.1977</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1VFZ_7g-THTeFXBQ3UaU0_aYEbGGYKAKK&usp=sharing"
    target="_blank"
    >Pfennig. Kenia 25.03.78- 02.04.78</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1Ocws_EViLLzdNsnK_DINYC13DH5nSgM-&usp=sharing"
    target="_blank"
    >Pfennig. Kenia/Ruanda 24.10.-09.11.1979</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1ZasTMRXd3MabqFhDZvKHm8LfP0f4fObA&usp=sharing"
    target="_blank"
    >Pfennig. Kenia 01. 06. – 14. 06. 1983</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1mAzM4_VH5GpKSIu-SzU0rQkWkBj1PXQZ&usp=sharing"
    target="_blank"
    >Pfennig. Kenia 23.05-05.06.84</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1R0wzAWPi9jQQINt0pXSxTxjv_aF0q40e&usp=sharing"
    target="_blank"
    >Pfennig. Kenia 09.06- 23.06.1985</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=16T4qAV6hYzjpaA2UJ85LVyOJZ5ZGM1Qr&usp=sharing"
    target="_blank"
    >Pfennig. Kenia. 20.11.-13.12.1985</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1qvKcgllkuqjiRQFDBn3GrM4qgsx4rwtL&usp=sharing"
    target="_blank"
    >Pfennig. Kenia 23.08-11.09.1986</a
  >
  <br />
  <a
    href="https://drive.google.com/open?id=1wbX7IbBnBJEHvvyJowKgAF-LpMdzsDs4&usp=sharing"
    target="_blank"
    >Pfennig. Kenia 20.05.-06.06.1988</a
  >
</div>
